@using CV_ASP.NET.Models.ViewModels
@model AnvandarSidaViewModel
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
@{
    ViewData["Title"] = "Profil";
}

@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @ViewData["ErrorMessage"]
    </div>
}

<div class="text-center">
    <h1 class="display-4" style="font-family: 'Helvetica', sans-serif;">-Profil-</h1>
</div>


    </div>

    <!-- Ändrat namn på CV-sektionen -->
    <div class="cv-section">
        @if (Model?.CV == null && Model?.anvandare?.Id != null && Model.anvandare.Id.Equals(Model?.InloggadAnvandare))
        {
            <div class="create-cv">
                <a class="btn btn-dark btn-sm" asp-controller="Cv" asp-action="SkapaCv">Lägg till ett CV</a>
                <br />
            </div>
        }

        @if (Model.CV != null)
        {
            <div class="view-cv">
                <form method="post" asp-controller="Cv" asp-action="VisaCv" asp-route-anvid="@Model.anvandare.Id">
                    <input type="submit" class="btn btn-dark btn-sm" value="Visa CV" />
                </form>
                <br />
            </div>
        }
    </div>
</div>

<!-- Kontaktknapp -->
<a class="btn btn-dark btn-sm" asp-controller="Meddelande" asp-action="Kontakta">Kontakta mig</a>
<br />
