@model MeddelandeViewModel
<h1>Dina meddelanden (@(Model.Meddelanden.Count))</h1>

@foreach (var meddelande in Model.Meddelanden)
{
    <div>
        <p><strong>@meddelande.Frananvandare</strong>: @meddelande.Innehall</p>
        @if (meddelande.Last == false) // Om meddelandet inte är läst
        {
            <form method="post" asp-controller="Meddelande" asp-action="MarkeraSomLast" asp-route-meddelandeId="@meddelande.Mid">
                <button type="submit">Markera som läst</button>
            </form>
        }
        else
        {
            <span>Detta meddelande är läst</span>
        }
    </div>
}