@model LoggaInViewModel
@{
    ViewBag.Titel = "Login";
}
<div class="container">
    <h1> Logga in </h1>

<div asp-validation-summary="All" class="text-danger"></div>
<form method="post" asp-action="LoggaIn">
    <div class="form-group row">
        <div class="col-sm-2">
                <label asp-for="Anvandarnamn"> </label>
        </div>
        <div class="col-sm-4">
            <input asp-for="Anvandarnamn" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label asp-for="Losenord"></label>
        </div>
        <div class="col-sm-4">
            <input type="password" asp-for="Losenord" class="form-control" />
       <span asp-validation-for="Losenord" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="offset-sm-2 col-sm-4">
            <input type="checkbox" asp-for="RememberMe" class="form-check"/>
                <label asp-for="RememberMe"></label>
        </div>
    </div>
    <div class="form-group row">
        <div class="offset-2 col-sm-4">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </div>
    <label>Har du inget konto?</label>
    <a asp-action="Registrera" asp-controller="LoggInRegistrera">Registrera dig</a>
    </form>
</div>

  @section Scripts {
      <partial name ="_ValidationScriptsPartial"/>
  }

