@model CV_ASP.NET.Models.ViewModels.StartsidaViewModel
@{
    ViewData["Title"] = "Startsida";
}



<div class="text-center">
    <h1 class="display-4" style="font-family: 'Helvetica', sans-serif;">-CVConnect-</h1>
</div>

<div class="text-center mt-4">
    <a class="btn btn-primary" asp-controller="Sok" asp-action="Index">Sök användare</a>
</div>



<div class="container-fluid">
    <div class="row">
        @foreach (var Anvandare in Model.Anvandare)
        {
            <div class="col-md-3 mb-4">
                <div class="card" style="width: 100%; background-color: #d3d3d3;">
                    @if (Anvandare?.CV?.Profilbild != null)
                    {
                        <img src="~/Images/@Anvandare.CV.Profilbild" class="card-img-top" alt="Profilbild" asp-append-version="true" />
                    }
                    <div class="card-body">
                        <h5 class="card-title">@Anvandare.Fornamn @Anvandare.Efternamn</h5>
                        <p>Om mig: @Anvandare.CV.Beskrivning</p>
                        <form method="post" asp-controller="Cv" asp-action="VisaCv" asp-route-anvid="@Anvandare.Id">
                            <input type="submit" class="btn btn-dark btn-sm" value="Till profil" />
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>




<h1>Senast upplagda projekt</h1>

